---
import type { SkillSet } from '@/types/sections/skills-section.types';
import TagsList from '@/web/components/tags-list.astro';
import Typography from '@/web/components/typography.astro';

export interface Props extends SkillSet {}

const { skills, title } = Astro.props;
---

<div class="flex flex-col gap-3">
  <Typography variant="section-subtitle">{title}</Typography>
  <TagsList tags={skills} />
</div>
